rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // AdminContent: Readable by anyone, writable only by authenticated users
    match /adminContent/{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Emails: Writable by anyone, not readable
    match /emails/{document=**} {
      allow read: if false;
      allow write: if true;
    }

    // Helpers: Writable by anyone, not readable
    match /helpers/{document=**} {
      allow read: if false;
      allow write: if true;
    }

  }
}
